<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMRFS | Fund Request Details</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <br>
    <br>
    <div class="section-title text-center">
        <h3><b>Add Fund Request Details</b></h3>
        <hr>
    </div>
    <br>

    <form class="form-group text-center" method="post"
          th:action="@{/addedRequestFundDetails}"
          th:object="${request}">
        <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
        <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Aadhaar Number" type="text" id="aadhaar" class="form-control" th:field="*{uAadhaar}"
                           required>
                    <label for="aadhaar">Aadhaar Number</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Fund Request" id="fund" class="form-control" th:field="*{oAmount}"
                           required>
                    <label for="fund">Fund Request</label>
                </div>
            </div>
            <div class="col-md-12 text-center" th:if="${#fields.hasErrors('global')}">
                <b><p style="color: red" th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" /></b>
            </div>
            <div class="col-md-12">
                <br>
                <button type="submit" class="btn btn-success btn-lg"><b>Add</b></button>
                <br>
                <br>
                <br>
            </div>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>